@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
  --font-family: Roboto;
  --title-font: 'Barlow', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

div,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
input {
  font-family: var(--font-family);
}

h1 {
  font-family: var(--title-font);
}
